<%= form_for(:session, url: login_path) do |form| %>
  <hr>
  <br>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <br>
  <%= form.submit %>
  <br>
  <hr>
<%end%>
<p>Don't Have an account? <%= link_to 'Sign Up!', sign_up_path %></p>
