  <span class='logotype in-login'>In#Tune</span>
  <div class='container container-background col-11 col-md-10 col-lg-6 my-4 p-5'>
    <%= form_for(:session, url: login_path) do |form| %>
    <div class='container d-flex flex-column justify-content-around'>
      <% if flash.any? %>
        <span class='warning'><%= flash[:warning] %></span>
      <% end %>
      <%= form.label :username, class:'my-3 nice-text' %>
      <%= form.text_field :username, class:'form-style my-3' %>
      <%= form.submit 'Log In', :class=>'accent-button my-3' %>
    </div>
  <%end%>
  <p>Don't Have an account?
    <%= link_to 'Sign Up!', sign_up_path, class:'link_style link_style_hover' %></p>
  </div>
