  <%= form_for(:opinion, url:post_path) do |form| %>
    <div class='d-flex flex-column'>
      <%= form.label 'Write Your Opinion', class:'m-auto' %>
      <%= form.text_field :title, class:'form-style mx-auto my-3'%>
      <%= form.text_area :text, class:'form-style mx-auto my-3' %>
      <%= form.submit "Post Yay!", class:'accent-button my-3' %>
    </div>
  <% end %>
