<section class="container partial-background p-5">

  <div class="circular-landscape-big mx-auto my-5">
    <% if @user.avatar.attached? %>
      <img class='' src='<%=(url_for(@user.avatar))%>'>
      <% else %>
        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="profile pic" class=''>
    <% end %>
  </div>

    <div class='text-center'>
      <span><%= @user.fullname %></span>
      <br>
      <span>Aka :
        <%= @user.username %></span>
      <br>
      <!-- Checks if Is the current user and change between follow and unfollow button -->
      <% if @user != current_user %>
        <% unless @user.is_being_followed?(current_user) %>
          <%= form_for Follow.new(followee_id:@user.id, follower_id:current_user.id) do |f| %>
            <%= f.hidden_field :follower_id %>
            <%= f.hidden_field :followee_id %>
            <%= f.submit 'Follow User',class:'btn btn-primary' %>
          <% end %>
        <% else %>
          <%=link_to 'Unfollow', unfollow_path(user: @user), class:'btn btn-danger', method: :delete %>
        <% end %>
      <% end %>
      <br>

      <p class='m-2 p-2'>
        <% if @user.biography %>
          "<%= @user.biography %>"
        <% else %>
          No Biography
        <% end %>
      </p>
      <br>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path, class:'accent-button p-1' %>
      <% end %>
    </div>
  </section>
  <section class='container-fluid partial-background my-4 text-center'>
    <div class="row">
      <!-- Number of User opinions -->
      <div class='col-12 col-lg-4'>
        <% if @user.opinions.any? %>
          <span><%= @user.opinions.count %> <%= 'opinion'.pluralize(@user.opinions.count) %> shared. </span>
          <% @user.opinions.each do |opinion| %>
            <br>
            <%= opinion.title %>
          <% end %>
        <% else %>
          <span> This user didn't share any opinion. </span>
        <% end %>
      </div>
      <!-- Number of Followers -->
      <div class='col-12 col-lg-4'>
        <% if @user.followers.any? %>
          <span>This User has <%= @user.followers.count %> <%= 'follower'.pluralize(@user.followers.count) %></span>
          <% @user.followers.each do |follower| %>
            <br>
            <%= link_to follower.username, follower %>
          <% end %>
        <% else %>
          <span>This User is not being followed by anyone</span>
        <% end %>
      </div>
      <!-- Number of Followees -->
      <div class='col-12 col-lg-4'>
        <% if @user.followees.any? %>
          <span>This User has <%= @user.followees.count %> <%= 'followee'.pluralize(@user.followees.count) %></span>
          <% @user.followees.each do |followee| %>
            <br>
            <%= link_to followee.username, followee %>
          <% end %>
        <% else %>
          <span>This User is not following anyone</span>
        <% end %>
      </div>
    </div>
  </section>

  <% @user.opinions.each do |opinion| %>
  <section class='my-4 py-4 w-100 container partial-background  border'>
    <div class="container">
      <div class="opinion-title p-3 my-3 rounded">
        <%= opinion.title %>
      </div>
      <div class="row d-flex justify-content-start ">
        <div class="circular-landscape">
          <% if opinion.author.avatar.attached? %>
            <img class='' src='<%=(url_for(opinion.author.avatar))%>'>
            <% else %>
              <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="profile pic" class=''>
          <% end %>
        </div>
        <div class='opinion-box ml-3 p-2'>
          <%= opinion.text %>
        </div>
      </div>
    </div>
  </section>
  <% end %>
