<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Merienda+One&family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if logged_in? %>
    <div class="container-fluid vh-100">
      <div class="row">
        <nav class='container d-flex flex-column justify-content-around col col-lg-3'>
          <!-- When the screen is large -->
          <div class="d-none d-lg-flex">
            <span class='logotype'>In#Tune</span>
          </div>
          <div class="menu-bar d-none d-lg-flex flex-column justify-content-between">
            <span class='fancy-text'><%= link_to '#Feed', feed_path, class:'link_style' %>
            </span>
            <span class='fancy-text'><%= link_to '#Explore', users_path, class:'link_style'%></span>
            <span class='fancy-text disabled'><%= link_to '#Friends', friends_path, class:'link_style' %></span>
            <span class='fancy-text disabled'>#Messages</span>
            <span class='fancy-text disabled'>#BookMarks</span>
            <span class='fancy-text disabled'>#Lists</span>
            <span class='fancy-text'><%= link_to '#Profile',current_user, class:'link_style'%></span>
            <%= link_to 'New Opinion', post_path, class:'accent-button w-50' %>
            <div class='container'>
              <div class='d-flex'>
                <div class="circular-landscape">
                  <% if current_user.avatar.attached? %>
                    <img class='' src='<%=(url_for(current_user .avatar))%>'>
                  <% else %>
                    <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="profile pic" class=''>
                  <% end %>
                </div>
                <div class="col-6 my-auto">
                  <span class='d-block'>@<%= current_user.username %></span>
                  <span class='d-block'><%= current_user.fullname %></span>
                </div>
              </div>
              <div class='d-flex justify-content-end'>
                <%= link_to "Log out", logout_path,class:'link_style link_style_hover', method: :delete %>
              </div>
            </div>
          </div>
          <!-- When the Screen is small -->
          <div class="h-100 container d-flex flex-row justify-content-around d-lg-none">
            <div class="col-4 m-auto text-left">
              <span class='icon fa fa-bars'></span>
            </div>
            <div class="icon col-4 m-auto text-center">
              <span>Logo</span>
            </div>
            <div class="icon col-4 m-auto text-right">
              <span class='	fa fa-gears'></span>
            </div>
          </div>
          <!---->
        </nav>
      <% end %>

        <section
        <% unless logged_in? %>
          class="container-fluid m-0 p-0 col-12"
        <% else %>
          class="container-fluid m-0 p-0 col-12 col-lg-6"
        <% end %>
        >
          <!--
          <div class="inside-header">
            Hello World
          </div>
          -->
          <div <% unless logged_in? %>class='background-photo'<% end %>>
            <%= yield %>
          </div>
        <!--
          <div class="inside-footer">
            Hello World
          </div>
        -->
        </section>
        <% if logged_in? %>
        <section class='right-side-panel col-12 col-lg-3 border-left d-flex flex-column text-center'>
          <div class='container'>
          <h4>Who to Follow</h4>
          <% if User.count < 3 %>
            <span>There isn't many users in the database. Seed it with 'rails db:seed' in the console.</span>
          <% else %>
            <% 3.times do %>
            <% user = get_random_user %>
              <div class="d-flex text-left justify-content-start">
                <div class="circular-landscape-small my-auto ">
                  <% if user.avatar.attached? %>
                    <img class='' src='<%=(url_for(user.avatar))%>'>
                  <% else %>
                    <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="profile pic" class=''>
                  <% end %>
                </div>
                <div class="d-flex flex-column mx-2 my-auto text-left">
                  <span class='user-text'><%= user.fullname %></span>
                  <span class='user-text'><%= link_to '@'+user.username %></span>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
          <br>
          <%= %>
          </div>
        </section>

        <footer class='container-flex col-12 d-lg-none d-flex flex-row justify-content-around position-fixed'>
          <div class='m-auto'>
            <%= link_to '', current_user, class:'fa fa-home' %>
          </div>
          <div class='m-auto'>
            <%= link_to '', users_path, class:'fa fa-search' %>
          </div>
          <div class='m-auto'>
            <%= link_to '', feed_path, class:'fa fa-bell' %>
          </div>
          <div class='m-auto'>
            <span class='fa fa-envelope '></span>
          </div>
        </footer>
        <% end %>
      </div>
    </div>
  </body>
</html>
